<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Empleados</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Tarea Spring REST Client</a>
			</div>
			<ul type="square" class="nav navbar-nav">
				<li><a th:href="@{/rest-client/empleados}">Lista de Empleados</a></li>
				<li><a th:href="@{/rest-client/empleados/add}">Agregar Empleado</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<h1>Listado de empleados</h1>
		<div class="table-responsive col-lg-8">
			<table class="table table-striped">
				<thead>
					<th>Nombre</th>
					<th>Edad</th>
					<th>Salario</th>
					<th>Opciones</th>
				</thead>
				<tbody th:each="empleado : ${empleados}" > 
				<tr>
					<td th:text="${empleado.nombre}"></td>
					<td th:text="${empleado.edad}"></td>
					<td th:text="${empleado.salario}"></td>
					<td><a th:href="@{/rest-client/empleados/edit/{id}(id=${empleado.id})}">Editar</a> | <a th:href="@{/rest-client/empleados/delete/{id}(id=${empleado.id})}">Eliminar</a></td>
				</tr>					
				</tbody>
			</table>
		</div>			
	</div>
</body>
</html>